$background: black;
$color: white;

h4 {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #070707;
    background-color: #e4e4e4;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

h5 {
    text-align: center;
}


.match-info_container {
    position: relative;
    background-color: #21273b;
    width: 100%;
    height: 90vh;
    box-shadow: 0 0 10px black;
    overflow-y: auto;

}

.match-info_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
    background-color: $background;
    box-shadow: 0 0 10px black;
    color: $color;
    height: 8vh;
    position: sticky;
    top: 0;

    >.score,
    .team {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    >.team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%
    }

    >.score {
        width: 10%;
        font-size: 32px;
    }


}




.match-info_seccion {

    display: block;

    overflow: hidden;
    transition: max-height 0.2s ease-out;

}


.match-info_estadisticas {
    padding: 5px;

    .estadistica {
        margin-bottom: 10px;
    }

    .titulo_estadistica {
        width: 100%;
        text-align: center;
    }


    .barra_body {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #7e2525;
        width: 100%;
        height: 25px;
        text-align: center;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .barra_visitante {

            width: 50%;
            background-color: #7e2525;
        }

        .barra_local {

            width: 50%;
            background-color: #20702b;

        }

    }

}

.match-info_incidencias {
    padding: 5px;

    .incidencia {
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        font-size: 13px;
        // padding:5px 0;
        // background-color: #1a1e2e;
        align-items: center;
        margin-bottom: 5px;

        .local {
            padding-right: 10px;
            grid-area: 1/1/2/2;
        }

        .minuto {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 7px;
            height: 100%;
            background-color: #1a1e2e;
            font-size: 19px;
            grid-area: 1/2/2/3;
        }

        .visitante {
            padding-left: 10px;
            grid-area: 1/3/2/4;
        }

        .inc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .jugador {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}


.match-info_formaciones {
    padding: 5px;

    .contenedor {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        font-size: 13px;
        color: #eeeeee;



        .jugador {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #1a1e2e;
            padding: 7px 5px;
            margin-bottom: 3px;
            border-radius: 5px;
            border-style: solid;
            border-width: 0 0 0 4px;

            cursor:pointer;
            &:hover{
                background-color: #161925;
            }
            .jugador-left {
                display: flex;
                flex-direction: row;
                gap: 4px;
            }

            .icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px
            }

            .numero {
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px #e2e2e27a;
                color: white;
                border-radius: 6px;
                
                min-width: 22px;
            }

            .capitan {
                background-color: #1f5dd1;
                color: white;
                border: 0 !important
            }

            .nombre {
                display: flex;
                flex-direction: row;
                gap:3px;
                align-items: center;
            }
        }

        &>div {
            width: 50%;
        }
    }
}


.match-info_player{
    z-index: 20;
    height: 20vh;
    bottom: 0;
    transition: all 0.5s;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: center;
    bottom: 0;
    background-color: #0e0e0ef5;
    box-shadow: 0 0 10px black;
    border: 0 0 0 2px blue solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;

    .img{
        min-height: 200px;
    }
    
    
   
}


@media screen and (max-width:800px) {
    .match-info_container {
        border-radius: 0;
    }


    .match-info_player{
        h3{
            font-size: 21px;
        }
        div{
            font-size: 13px;
        }
        
        .img{
            min-height: 90px;
        }
        
        
       
    }

}