*{
    padding:0;
    margin:0
}

.match-modal_container {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fd1;
    transition: all 0.4s;
    transform: translateX(100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
    
}



.match-modal_video {
    background-color: black;
    box-shadow: 0 0 10px black;
    transition: all 0.4s;
    
}

.match-modal_close-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px 15px;
    border:0;
    border-bottom: dotted 1px rgb(54, 54, 54);
    background-color: rgb(12, 12, 12);
    font-size: 13px;
    color: white;
    outline: none;
    cursor: pointer;

}

.match-modal_close-button:hover{
    background-color: white;
    
    color: black;
}


.match-modal_video iframe{

    aspect-ratio: 16 / 9;
    height: auto;


}


@media screen and (max-width:800px) {

    .match-modal_container {

        flex-direction: column;
        gap: 0;
        padding: 0;
        background-color: black;
        // height: auto;
    }

    .match-modal_close-button {
        position: relative;
        border-radius: 0;
        margin: 0;
        width: 100%;
        
        color: white;
        
    }

    .match-modal_close-button:hover{
        background-color: black;
        color: white;
    }

    .match-modal_video iframe{

        aspect-ratio: 16 / 9;
        height: 100%;
    
    }
}