.standings-table_container {
    font-size: 12px;

    th {
        background-color: #121212;
        text-align: center;
        border: 0;
        font-size: 11px;
    }

    td {
        
        text-align: center;
    }
}

.standings-table_title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

@for $i from 1 through 4 {
    .standings-table_container tr:nth-child(#{$i}) td {
        background-color: #102c09 !important;
    }
}

.standings-table_row {

    
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        transform: translateX(10px);
    
    }
}

@media screen and (max-width: 800px) {
    .table>:not(caption)>*>* {
        margin:1px;
        padding: 0.6rem 0.2rem;
    }
    
    .standings-table_row{
        transform: translateX(0);
        &:hover{
            transform: translateX(0);
        }
    }



}

