.standings-table_container {
    
    font-size: 12px;
    
    th {
        background-color: #1a1a1a !important;
        text-align: center;
        border: 0;
        font-size: 11px;
    }

    td {
        
        text-align: center;
    }
}

.standings-table_title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

@for $i from 1 through 4 {
    .standings-table_container tr:nth-child(#{$i}) td {
        background-color: #102c09 !important;
    }
}

.standings-table_row {


    .dot {
        display: flex;
        height: 8px;
        width: 8px;
        border-radius: 4px;
        margin-left: 5px;
        animation: blinkingDot 1.2s infinite;
    }

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        transform: translateX(10px);

    }
}

@keyframes blinkingDot {
    0% {
      transform: scale(1);
  
    }
  
    50% {
      transform: scale(0.5);
  
    }
  
    100% {
      transform: scale(1);
    }
  }

@media screen and (max-width: 800px) {
    .table>:not(caption)>*>* {
        padding: 0.7rem 0.2rem !important;
    }

    .standings-table_row {
        transform: translateX(0);

        &:hover {
            transform: translateX(0);
        }
    }



}