


.standings-table {

  font-size: 12px;
}

.standings-table th {

  background-color: #121212;
  text-align: center;
  border: 0;
  font-size: 11px;
}


.standings-table td {
  
  text-align: center;
}

.standings-table tr:nth-child(1) td {
  background-color: #102c09 !important;
}
.standings-table tr:nth-child(2) td {
  background-color: #102c09 !important;
}
.standings-table tr:nth-child(3) td {
  background-color: #102c09 !important;
}
.standings-table tr:nth-child(4) td {
  background-color: #102c09 !important;
}

.standings-table tr:nth-child(1):hover {
  background-color: #267e10 !important;
}

.standings-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}



@media screen and (max-width: 800px) {
  .table>:not(caption)>*>* {
    padding: 0.5rem 0.2rem;
}

}