
.match{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 4px;
    box-shadow:0 0 10px #121212;
    
}

.team-box{
    display: flex;
    flex-direction: row;
    width: max-content;
    
}

.team{
    display: flex ;
    flex-direction: row;
    font-size: 12px;
    padding:4px;
    justify-content: space-between;
    
}

.img{
    
    
    margin-right:3px
}

.result{
    padding-left:4px;
    font-weight: bold;
}

h4{
    text-align: center;
}