.match-row td {
  text-align: center;
  vertical-align: middle;
  padding: 2px 0 !important;
}

.red-card {
  width: 5px;
  height: 8px;
  background-color: #b50000;
}

.cronometro {
  color: #fff;
  background-color: #920000 !important;
  animation: blinkingColor 1.5s infinite;
}


.fin {
  background-color: #131d28 !important
}


.info-button {
  width: 10%;
  background-color: #0f3c3d !important;
  font-size: 18px;
  cursor: pointer;
}

.info-button:hover {
  background-color: #1a6061 !important;
  transition: all 0.3s;
}

.resumen-btn{
  padding:10px 5px;
  width:100%;
  background-color: #147e34;
  border:0;
  color:#e7e7e7;
  box-shadow: 0 0 10px #093015;
}

.resumen-btn:hover{
  background-color: #14963b;
}

@media screen and (max-width:800px) {
  .resumen-btn:hover{
  background-color: #147e34;
  
  }
  
  .match-row td {
    padding: 5px 0 !important;
  }

  .info-button:hover {
    background-color: #0f3c3d !important;

  }
}

@keyframes blinkingColor {
  0% {
    color: #ffffff;
  }

  50% {
    color: #c7a2a2;
  }

  100% {
    color: #ffffff;
  }
}