$main: green;
$secondary: orange;

// @mixin flex-div {
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }



::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
}
::-webkit-scrollbar-track {
    background: rgb(52, 52, 52);
}