
// @mixin flex-div {
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

#root{
    background-color: #302f2f;
    color:#ffffff
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
}
::-webkit-scrollbar-track {
    background: rgb(52, 52, 52);
}